.DS_Store
lightning_logs
__pycache__
.idea
.vscode

/downloads
/clip-vit-large-patch14
/wandb
*.pth
*.safetensors
/debug
/persistence
/pixart_text_encoder
/llm14b
/vision_encoder_debug_jiaming
/vfm_hanyu
/vlmgen_debug_jiaming
/logs
/vision_encoder
/tmp
/internvl3_gen_hanyu
/outputs
/samples
/dataset_stats_output
/kontext-i2i
/tar_lumina*